* {
	box-sizing: border-box;
}

body {
	background: #C0C0C0;
	font-family: "Noto Sans JP";
	margin: 0 auto;
	overflow-x: hidden;
}

.bg {
	position: fixed;
	z-index: -10;
	height: 100vh;
	display: flex;
	align-items: center
}

.bg-logo {
	height: 100vh;
	position: absolute;
	left: 30vw;
}

@media (max-width: 1000px) {
	.bg-logo {
		position: absolute;
		left: 10vw;
	}
}

a {
  text-decoration: none;
}

.Content-wrapper {
	max-width: 1280px;
	min-width: 375px;
	margin: 96px auto;
	padding: 0px 72px;
	position: relative;
}

@media (max-width: 1000px) {
	.Content-wrapper {
		padding: 0px 24px 0px 72px;
	}
}

.Column_wrapper {
	display: flex;
}

.Column-left {
	flex: auto;
	width: 50%;
	margin-right: 24px;
}

.Column-right {
	flex: auto;
	width: 50%;
	margin-left: 24px;
}

.Three-Column_left {
	flex: auto;
	width: 33%;
	margin-right: 24px;
}

.Three-Column_center {
	flex: auto;
	width: 33%;
	margin: 0 24px;
}

.Three-Column_right {
	flex: auto;
	width: 33%;
	margin-left: 24px;
}

.Three-Column_left img {
	width: 100%;
}

.Three-Column_center img {
	width: 100%;
}

.Three-Column_right img {
	width: 100%;
}

@media (max-width: 670px) {
	
	.Column_wrapper {
		flex-direction: column;
	}
	
	.Column-left {
		width: 100%;
		margin: 24px auto;
	}
	
	.Column-right {
		width: 100%;
		margin: 24px auto;
	}
	
	.Three-Column_left {
		width: 100%;
		margin: 24px auto;
	}
	
	.Three-Column_center {
		width: 100%;
		margin: 24px auto;
	}
	
	.Three-Column_right {
		width: 100%;
		margin: 24px auto;
	}
	
	.Reverse-L {
		order: 1;
	}
	
	.Reverse-R {
		order: 2;
	}
}

/* - - - - - - - - - - 汎用テキストスタイル周り - - - - - - - - - - */

.Date {
	font-weight: bold;
	font-size: 1rem;
}

.Base-text {
	font-weight: normal;
	font-size: 1rem;
	line-height: 2rem;
}

h1 {
	font-weight: Bold;
	font-size: 2rem;
	letter-spacing: 5px;
}

.collection-title {
	color: White;
	transform-origin: left bottom;
	transform: rotate(90deg);
	position: absolute;
	top:  -96px;
	left: -16px;
	z-index: -10;
	font-weight: bold;
	font-size: 4rem;
	letter-spacing: 7px;
	margin: 0 auto;
}

h3 {
	font-weight: bold;
	font-size: 1.5rem;
}

h4 {
	font-weight:  bold;
	font-size: 1rem;
	margin-bottom: 0;
}

.Catch-copy {
	font-weight: bold;
	font-size: 3rem;
	line-height: 4rem;
	letter-spacing: 0.25rem;
	display: inline-block;
}

.Catch-copy_min {
	font-weight: bold;
	font-size: 1.5rem;
	letter-spacing: 0.25rem;
	display: inline-block;
	margin-top: 16px;
	margin-bottom: 0;
}

@media (max-width: 1000px) {
	.Catch-copy-left {
		font-size: 2rem;
		text-align: left;
	}
	.Catch-copy {
		font-size: 2rem;
	}
}

.Content-number {
	background-color: #FFF;
	color: #000;
	font-weight: bold;
	font-size: 1.5rem;
	display: inline-block;
	margin: 0;
	padding: 12px;
}

@media (max-width: 1000px) {
	.Content-number {
		font-size: 1.5rem;
		padding: 12px;
	}
}

/* - - - - - - - - - - 汎用コンポーネント周り - - - - - - - - - - */

.btn {
	color: #000000;
	border: 2px solid #c0ff00;
	display: inline-block;
	padding: 16px 32px;
	font-weight: bold;
	letter-spacing: 3px;
	transition: all 0.5s;
}

.btn:hover {
	background-color: #c0ff00;
	color: #000;
}

.btn-light {
	color: #000000;
	border: 2px solid #000;
	display: inline-block;
	padding: 16px 32px;
	font-weight: bold;
	letter-spacing: 3px;
	transition: all 0.5s;
}

.btn-light:hover {
	background-color: #000;
	color: #C0FF00;
}

.large-btn {
	color: #c0ff00;
	border: 2px solid #c0ff00;
	display: inline-block;
	width: 75vw;
	max-width: 1280px;
	padding: 16px 32px;
	margin: 24px 0px;
	font-weight: bold;
	letter-spacing: 3px;
	transition: all 0.5s;
}

.large-btn:hover {
	background-color: #c0ff00;
	color: #000;
}

.btn-Share {
	b
	width: 36px;
	height: 36px;
	position: fixed;
}

i {
	margin: 0px 16px;
}

.space {
	height: 5vh;
}

@media (max-width: 670px) {
	.space {
		height: 2vh;
	}
}

.Twitter-share {
  position: fixed;
  bottom: -160px; /* ボタンの初期位置（画面下部から隠れている） */
  left: -40px;
  transform: rotate(90deg);
  transition: bottom 0.3s ease; /* アニメーションの追加 */
}

/* 一定のスクロール量でボタンを表示するためのクラス */
.Twitter-share.show-button {
  bottom: 96px; /* ボタンの表示位置 */
}

.Twitter-share a {
	font-weight: bold;
	color: #000;
	background-color: #C0FF00;
	padding: 16px 24px 16px 16px;
	border-radius: 8px 8px 0 0;
}

.Twitter-share a:hover {
	background-color: ;
	color: #2D3A00;
}

/* - - - - - - - - - - ここからHeader周り - - - - - - - - - - */

header{
	/* 幅を画面幅いっぱいに設定 */
	width: 100vw;
	/* 上に固定 */
	position: fixed;
	z-index: 10;
	padding: 0px 72px;
}

header a {
	padding: 32px 24px;
	display: inline-block;
	transition: all 0.5s;
}

header a:hover {
	background-color: #c0ff00;
}

@media (max-width: 1000px) {
	header {
		display: flex;
		justify-content: center;
	}
}

.header-logo {
	height: 24px;
}

.header-logo_static {
	height: 24px;
}

/* - - - - - - - - - - ここからTop image周り - - - - - - - - - - */

.Top-image {
	height: 100vh;
	width: 100%;
	object-fit: cover;
}

.Top-wrapper {
	position: absolute;
	right: 0;
	left: 0;
	margin: 0 auto;
}

.Top-description {
	background-color: rgba(0,0,0,0.5);
	height: 100vh;
	width: 100%;
	padding: 72px 24px;
	color: white;
	text-align: center;
	position: relative;
}

.Top-logo {
	width: 50vw;
	max-height: 50vh;
}

.Top-description a {
	position: absolute;
	bottom: 120px;
	left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

/*スクロールダウン全体の場所*/
.scrolldown1{
    /*描画位置※位置は適宜調整してください*/
	position:absolute;
	left:50%;
	bottom:32px;
    /*全体の高さ*/
	height:50px;
}

/*Scrollテキストの描写*/
.scrolldown1 span{
    /*描画位置*/
	position: absolute;
	left: -32px;
	top: -32px;
    /*テキストの形状*/
	color: #eee;
	font-size: 1.5rem;
	letter-spacing: 0.05em;
}
/*
@media (max-width: 670px) {
	.scrolldown1 {
	position:absolute;
	left:50%;
	bottom:24px;
	}	
	.Top-description a {
	position: absolute;
	bottom: 100px;
} */


/* 線の描写 */
.scrolldown1::after{
	content: "";
    /*描画位置*/
	position: absolute;
	top: 16px;
    /*線の形状*/
	width: 1px;
	height: 64px;
	background: #eee;
    /*線の動き1.4秒かけて動く。永遠にループ*/
	animation: pathmove 1.4s ease-in-out infinite;
	opacity:0;
}

/*高さ・位置・透過が変化して線が上から下に動く*/
@keyframes pathmove{
	0%{
		height:0;
		top:0;
		opacity: 0;
	}
	30%{
		height:30px;
		opacity: 1;
	}
	100%{
		height:0;
		top:50px;
		opacity: 0;
	}
}


/* - - - - - - - - - - ここからUPDATE周り - - - - - - - - - - */

.UPDATE {
	max-width: 1280px;
	position: relative;
	padding: 0px 72px;
	margin: 32px auto;
}

.Update-content {
    display: block;
    color: #000;
    padding: 24px 24px;
    border-bottom: 1px solid #999;
    transition: all 0.5s;
}

.Update-content:hover {
    background-color: #C0FF00;
    color: #000;
}

.Update-content_no-link {
	display: block;
	padding: 16px 24px;
	border-bottom: 1px solid #999;
}

/* - - - - - - - - - - ここからABOUT周り - - - - - - - - - - */


/* - - - - - - - - - - ここからPRODUCT周り - - - - - - - - - - */

.Product {
	width: 100%;
	flex: auto;
	display: flex;
	align-items: center;
	border-radius: 16px;
	margin-bottom: 32px;
	filter: drop-shadow(10px 10px 0px #C0FF00);
	position: relative;
}

.light {
	background-color: #F0F0F0;
	color: #000;
}

.light:hover {
	background-color: #FFF;
	color: #666;
}

.dark {
	background-color: #000;
	color: white;
}

.dark:hover {
	background-color: #222;
	color: #ddd;
}

.Product-title {
	font-weight: bold;
	font-size: 2rem;
	letter-spacing: 0.1rem;
	margin-bottom: 0px;
	/* 行数溢れを省略 */
	overflow: hidden;
  	display: -webkit-box;
  	-webkit-box-orient: vertical;
  	-webkit-line-clamp: 1; /* 任意の行数を指定 */
}

.fadeUpTrigger {
	opacity: 0;
}

.fadeUp {
	animation-name: fadeUpAnime;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	opacity: 0;
}
@keyframes fadeUpAnime {
	from {
		opacity: 0;
		transform: translateY(100px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.Product-description {
	width: 50%;
	padding: 32px 24px 40px 24px;
}

.tag {
	background-color: #C0FF00;
	color: #000;
	font-size: 0.75rem;
	line-height: 0.75rem;
	display: inline-block;
	padding: 0.2rem 0.5rem;
	border-radius: 2rem;
	margin-right: 8px;
}

.Product-image {
	width: 50%;
	padding: 32px;
	z-index: 2;
}

.Product-text {
	font-weight: normal;
	font-size: 1rem;
	line-height: 1.5rem;
	height: auto;
	margin-top: 0;
	/* 行数溢れを省略 */
	overflow: hidden;
  	display: -webkit-box;
  	-webkit-box-orient: vertical;
  	-webkit-line-clamp: 3; /* 任意の行数を指定 */
}

.Product-min {
	background-color: #F0F0F0;
	/* backdrop-filter: blur(3px); */
	border-radius: 16px;
	padding: 32px 32px 40px 32px;
	display: inline-block;
	width: 100%;
	color: #000;
	position: relative;
	margin-bottom: 32px;
}

.GoToPage {
	background-color: #C0FF00;
	text-align: right;
	padding: 12px 0px 12px 24px;
	font-weight: bold;
	color: #000;
	border-radius: 16px 0 16px 0;
	position: absolute;
	bottom: 0;
	right: 0;
	margin-bottom: 0;
}

.Product-min:hover {
	background-color: #FFF;
	/* backdrop-filter: blur(6px); */
}

.Product-min img {
	width: 100%;
	border-radius: 12px;
}

.GoToGithub {
	text-align: right;
	font-weight: bold;
	background-color: #C0FF00;
	padding: 8px 0 8px 16px;
	border-radius: 16px 0 16px 0;
	position: absolute;
	right: 0px;
	bottom: -16px;
}

@media (max-width: 1000px) {
	.Product-wrapper {
		flex-direction: column;
	}
	
	.Product {
		width: 100%;
	}
	
	.Product-title {
		font-size: 1.5rem;
	}
	
}

@media (max-width: 670px) {
	.Product {
		flex-direction: column;
	}
	
	.Product-description {
		width: 100%;
		padding: 12px 24px 48px 24px;
		order: 2
	}
	
	.Product-image {
		width: 100%;
		order: 1;
	}
	
	.Product-description btn {
		width: auto;
	}
	
	.Product-min {
		margin-bottom: 0px;
	}
}



/* - - - - - - - - - - ここからDISCLAIMER周り - - - - - - - - - - */


/* - - - - - - - - - - ここからFooter周り - - - - - - - - - - */

.footer {
	background-color: #000000;
	width: 100vw;
	padding-bottom: 72px;
	text-align: center;
}


.footer-link {
	max-width: 1280px;
	margin: 32px auto;
	padding: 0px 0px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.footer-link a {
	padding: 48px 48px;
	font-size: 1.5rem;
	font-weight: bold;
	line-height: 24px;
	text-align: center;
	display: block;
	color: #C0FF00;
	transition: all 0.5s;
	flex: auto;
	width: 50%;
}

@media (max-width: 1000px) {
	
	.footer-link {
		flex-direction: column;
	}
	
	.footer-link a {
		width: 100%;
	}
}

.footer-link a:hover {
	background-color: #c0ff00;
	color: #000000;
}

.footer-logo {
	width: 25vw;
	max-width: 1280px;
	min-width: 300px;
}

.footer-text {
	color: #E0E0E0;
}
