
/* - - - - - - ここからTop-image周り - - - - - - */
.single_top-wrapper {
	
}

.single_top-content_divider {
	display: flex;
	flex-wrap: wrap;
}

.single_top-content_left {
	height: 100vh;
	padding-right: 96px;
	padding-bottom: 48px;
	flex: auto;
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.single_top-content_left img{
	width: 50%;
	z-index: 7;
}

.single_top-content_right {
	flex: auto;
	width: 50%;
}

.single_top-content_right img {
	position: absolute;
	bottom: 0;
	right: 5vw;
	height: 100vh;
}

.single_top-content_center {
	width: 100vw;
}

.single_top-content_center a {
	position: absolute;
	color: #C0FF00;
	width: 60%;
	text-align: center;
	bottom: 10vh;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
}

.single_top-content_center img {
	max-width: 70vw;
	max-height: 80vh;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 5;
}

@media (max-width: 1000px) {
	.single_top-content_divider {
		flex-direction: column;
		height: 100vh;
	}
	.single_top-content_left {
		width: 100%;
		height: 50%;
		padding-right: 0;
		padding-bottom: 96px;
	}
	.single_top-content_right {
		width: 100%;
		height: 50%;
	}
	.single_top-content_center img {
		max-width: 90vw;
		max-height: 100vh;
	}
	
	.single_top-content_center a {
		width: 80%;
	}
}

/* - - - - - - ここからAbout周り - - - - - - */

.About {
	position: relative;
}

.About img {
	height: 100vh;
	width: 100%;
	object-fit: cover;
	position: sticky;
	top: 0;
	z-index: -1;
}

.About-text {
	max-width: 64vw;
	min-width: 375px;
	margin: 24px auto;
	padding: 0px 48px 72px 48px;
	position: relative;
	top: -80vh;
}

@media (max-width: 1000px) {
	.About-text {
		max-width: 100vw;
		padding: ;
	}
}

.Content-block_title {
	padding: 24px;
	background-color: #000;
	color: #C0FF00;
	font-weight: Bold;
	display: inline-block;
	margin: 0 0 -8px 0;
}

.Content-block_text {
	padding: 24px;
	background-color: #FFF;
	color: #000;
	margin: -8px 0 0 24px;
}

/* - - - - - - ここからFeature周り - - - - - - */

.single-column_center iframe{
	width: 100%;
	height: 480px;
}

.V-Card {
	width: 100%;
	display: flex;
	border: 1px solid #FFF;
	margin: 24px 0;
}

.V-Card_Photo {
	flex: 7;
	overflow: hidden; /* 親要素をはみ出る部分を非表示にする */
}

.V-Card_Photo img {
	width: 100%;
	height: 100%; /* 親要素（V-Card_Photo）の高さに合わせる */
    object-fit: cover; /* 画像をトリミングして親要素に合わせる */
}

.V-Card_Text {
	flex: 3;
}

.V-Card_Text h3 {
	padding: 0 24px;
}

.V-Card_Text .Base-text {
	padding: 0 24px;
    margin-bottom: 24px; /* p タグの下マージンをリセット */
}

@media (max-width: 1000px) {
	.V-Card {
		flex-direction: column;
	}
	
	.V-Card_Photo {
		order: 1;
	}
	
	.V-Card_Text {
		order: 2;
	}
}

/* - - - - - - ここからUpdate - - - - - - - */
.Update-content {
	color: #FFF;
}
/* - - - - - - ここからConversion - - - - - - - */
.Conversion {
	display: flex;
	background-color: #FFF;
	border: 8px solid #C0FF00;
	width: 100%;
	transition: all 0.5s;
}

.Conversion .Text {
	flex: auto;
	padding: 24px 48px;
	color: #000;
}

.Conversion .Button {
	background-color: #C0FF00;
	color: #000;
	font-weight: bold;
	padding: 24px 48px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.Conversion:hover {
	background-color: #C0FF00;
}

@media (max-width: 1000px) {
	.Conversion {
		flex-direction: column;
	}
	.Conversion .Text {
		padding: 24px;
	}
	.Conversion .Button {
		padding: 24px;
	}
}

